@font-face {
    -fx-font-family: 'test';
    src: url(fonts/FontAwesome5Free-Regular-400.otf);
}

.label-login {
    -fx-font-family:"Roboto";
}

.red-text {
    -fx-text-fill:#E41E13;
}

.blue-text {
    -fx-text-fill:#0099D3;
}

.black-text {
    -fx-text-fill:#414141;
}

.grey-text {
    -fx-text-fill:#6e6e6e;
}

.light-grey-text {
    -fx-text-fill:#efefef;
}

.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.text-field {
    -fx-border-color: #6e6e6e;
    -fx-border-radius:2px;
}

.text-field:focused {
    -fx-stroke: none;
}

.button:hover {
    -fx-cursor: hand;
}

.confirm-button {
    -fx-background-color:#0099D3;
    -fx-text-fill: #fff;
    -fx-font-family:"Roboto Medium";
    -fx-padding: 5px 8px;
}

.confirm-button:hover {
    -fx-background-color: #00A1DB;
}

.cancel-button {
    -fx-background-color: #dfdfdf;
    -fx-text-fill: #737373;
}

.cancel-button:hover {
    -fx-background-color:#D9D9D9;
    -fx-text-fill: #595959;
}

.main-menu-button {
    -fx-background-color:#fff;
    -fx-background-radius: 0;
}

.main-menu-button:focused {
    -fx-background-color:#0099D3;
    -fx-text-fill: #fff;
    -fx-background-radius: 0;
}

.main-menu-button:focused:hover {
    -fx-background-color:#0099D3;
    -fx-text-fill: #fff;
}

.main-menu-button:hover {
    -fx-background-color:#efefef;
}

.menu-bg {
    -fx-effect:dropshadow(Gaussian, #000, 11, 0.1, -2, 0);
}

.uitloggen-button {
    -fx-background-color:#efefef;
    -fx-text-fill:#6e6e6e;
    -fx-font-family:'test';
}